.fillable-form {
	margin: 3.6rem auto;
	padding: 1.6rem;
	width: 80%;
	max-width: 60rem;
	font-size: 2rem;
	border: 0.2rem solid black;
	border-radius: 0.5rem;
}

.personal-info {
	font-size: 1.6rem;
}

.experience {
	margin-top: 2.5rem;
	padding-top: 1.5rem;
	font-size: 1.6rem;
	border-top: 0.3rem solid black;
	border-radius: 0.01rem;
}

.education {
	margin-top: 2.5rem;
	padding-top: 1.5rem;
	font-size: 1.6rem;
	border-top: 0.3rem solid black;
	border-radius: 0.01rem;
}
