.view-form .personal-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.intro {
	max-width: 60%;
}

.name {
	font-size: 4rem;
	word-break: break-word;
	margin-bottom: 0.4rem;
}

.title {
	font-size: 2.5rem;
	font-weight: 400;
}

.contact-info {
	max-width: 40%;
	word-break: break-word;
}

.contact-section {
	display: flex;
	align-items: center;
	margin-bottom: 0.5rem;
}

.contact-section p {
	font-size: 1.5rem;
}

.contact-section img {
	width: 2.5rem;
	margin-right: 0.5rem;
}

.description {
	margin-top: 2rem;
	font-size: 1.6rem;
	word-break: break-all;
}
