.view-form .personal-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.intro {
	max-width: 60%;
}

.name {
	font-size: 3rem;
	word-break: break-word;
	margin-bottom: 0.4rem;
}

.title {
	font-size: 1.8rem;
	font-weight: 400;
}

.description {
	margin-top: 2rem;
	font-size: 1.4rem;
	word-break: break-all;
}
