@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");

:root {
	--main-color: #6590ec;
}

html {
	font-family: "Montserrat";
	font-size: 62.5%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	width: 100%;
}

header {
	width: 100%;
	display: flex;
	justify-content: center;
	font-size: 2rem;
	padding: 2.4rem 0;
	color: rgb(12, 12, 12);
	background-color: var(--main-color);
}
